</br>
<em><center><h1>Profile of <%= @user.name.upcase %></h1></center></em>
<div class="posts-wrapper">
  <div class="row profile-header">
    <div class="col-md-6">
      <div class="user-name-and-follow">
        <span>
          <% if @user == current_user %>
            <%= link_to 'Edit Profile', profiles_edit_path(@user[:id]),  class: 'btn edit-button' %> | 
                <h1>Create new photo</h1> 
		        <%= form_for (Gallery.new) do |f| %>
		        <%= f.hidden_field :user_id, value: current_user.id %>
		        <%= f.file_field :image %>
		        <%= f.text_field :title %>
		        <%= f.submit %>
		        <% end %> 
    
          <% end %>            
      
        </span>
      </div>
      
    </div>
  </div>
</div>

<% @user.galleries.each do |gallery| %>
  <%= gallery.title %>
  <div class="img"> <%= link_to image_tag(gallery.image.url(:medium), size: '150'), gallery_path(gallery)  %></div>

<% end %>