
<%= form_for @gallery.comments.build, remote: true do |f| %>
  <div>
    <%= f.hidden_field :gallery_id, value: @gallery.id %>  
  </div>
  <div>
    <%= f.hidden_field :user_id, value: @user.id %>    
  </div>
  <div>
    Mark: <%= f.select(:mark, options_for_select(1..5)) %>
  </div>
  <div>
    Text: <%= f.text_area :body %>
  </div>

  <%= f.submit %>
<% end %>