</br><h1>Galleries</h1>

<div class="row">

  <div class="">
    <div class="row">
      <div class="col-sm-12 products-pagination">
            <%= will_paginate @galleries %>
      </div>
    </div>



    <div class="row">
      <% @galleries.each do |gallery| %>

          <div class="col-sm-4 product-item">
            <div class="panel panel-default">
              <div class="panel-body" align="center">
                <div class="img"> <%= link_to image_tag(gallery.image.url(:medium), size: '150'), gallery_path(gallery)  %></div>
                <h3><%= gallery.title %></h3>
                <h4> By <%= gallery.user.name %></h4>
              </div>
            </div>
          </div>

      <% end %>
    </div>


  </div>

</div>


<br>

<%= link_to 'New Gallery', new_gallery_path %>
